.page-container {
  max-width: var(--site-width);
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;

  /* Apply default image styling to content images, but not to card previews */
  img:not(.article-card__image) {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 4rem auto;
  }
}

/* Slightly tighter gutters on small screens */
@media (max-width: 480px) {
  .page-container {
    padding: 0.75rem;
  }
}

/* .shadow {
  box-shadow: var(--shadow);
} */

.gradient-text {
  background: linear-gradient(130deg, #5183f5, #af002d 41.07%, #c79191 76.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-secondary);
  color: var(--color-text-alt);
  font-size: var(--font-size-button);
  white-space: nowrap;
  border-bottom: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transform: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  &:hover, &:focus {
    border-bottom: none !important;
    filter: none;
    box-shadow: none;
    transform: none;
    outline: none;
    text-decoration: none;
  }
}

.btn--sm {
  padding: 6px 8px;
}

.btn--outline {
  border: 2px solid var(--color-text);
  background-color: transparent;
  color: var(--color-text);
  border-radius: 999px; /* pill */
  text-decoration: none;
  box-shadow: none;
  transform: none;

  :root[data-theme="dark"] & {
    border-color: var(--color-text-alt); /* white in dark mode */
    background-color: transparent;
    color: var(--color-text-alt);
  }

  &:hover, &:focus {
    border-color: var(--color-secondary);
    filter: none;
    background-color: transparent;
    color: var(--color-secondary);
    text-decoration: none;
    box-shadow: none;
    transform: none;

    :root[data-theme="dark"] & {
      border-color: var(--color-secondary);
      background-color: transparent;
      color: var(--color-secondary);
    }
  }
}

.btn--danger {
  background-color: var(--color-danger);
  color: var(--color-text-alt);

  :root[data-theme="dark"] & {
    background-color: var(--color-danger);
    color: var(--color-text-alt);
  }
}

.btn--danger:hover,
.btn--danger:focus {
  border: none;
  background-color: var(--color-danger);
  color: var(--color-text-alt);
  filter: brightness(90%);

  :root[data-theme="dark"] & {
    color: var(--color-text-alt);
  }
}

.header-anchor {
  float: left;
  font-size: .85em;
  padding-right: 0.23em;
  margin-top: 0.125em;

  @media (min-width: 1024px) {
    margin-left: -0.87em;
    opacity: 0;
  }
}
