RESEND_API_KEY=replace_with_resend_api_key
SECRET_CODE_IFTAR=replace_with_6_digit_code
GOOGLE_SERVICE_ACCOUNT_EMAIL=replace_with_service_account_email
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=replace_with_escaped_private_key
GOOGLE_SHEETS_SPREADSHEET_ID=replace_with_spreadsheet_id
