RESEND_API_KEY=resend_api_key_here
SECRET_CODE_IFTAR=secret_code_iftar
GOOGLE_SERVICE_ACCOUNT_EMAIL=pherkan@pherkan.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=13BXrjg1-Pb2MhyKCwrTrg9WcdvgMp6DCUSFg_1Eh-W4
GOOGLE_SHEETS_SHEET_NAME=Sheet1
