RESEND_API_KEY=replace_with_resend_api_key
SECRET_CODE_IFTAR=replace_with_6_digit_code
SHEETS_SERVICE_EMAIL=replace_with_service_account_email
SHEETS_SERVICE_PRIVATE_KEY=replace_with_escaped_private_key
SHEETS_DOCUMENT_ID=replace_with_spreadsheet_id
