---
layout: base.njk
section: projects
---
<div class="page-container">
  <h1>{{title}}</h1>

  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}

  <hr/>

  {{ layoutContent | safe }}

  {% from "macros/projectcards.njk" import projectcards %}
  {{ projectcards(collections.project | reverse, 0, 'All projects') }}
</div>
