<footer class="site-footer">
  {% include "partials/social-icons.njk" %}
  <small>
    website built with <a href="https://www.11ty.dev/" target="_blank">eleventy</a>.
    source code on <a href="{{ pkg.repository.url }}" target="_blank">github</a>.
  </small>
</footer>