<header class="site-header">
  <div class="site-header__container">
    <span class="site-header__logo-container">
      <a class="site-header__logo" href="{{ '/' | url }}" aria-label="Logo">
        <img src="/assets/img/pherkan_icon.png" alt="pherkan icon" width="150" height="150">
      </a>
    </span>
    <button
      class="site-header__mobile-nav"
      data-drawer-trigger=""
      aria-controls="drawer-name"
      aria-expanded="false"
      aria-label="Open menu"
    >
      {{ global.menu_icon | svg | safe }}
    </button>
    {% set navPages = collections.all | eleventyNavigation %}
    <nav class="site-header__nav" aria-label="Primary navigation">
      <ul class="site-header__items">
        <li class="site-header__item">
          <a
            class="site-header__link"
            href="{{ '/' | url }}"
            {% if page.url == "/" %} aria-current="page" data-current="current item"{% endif %}
          >
            Home
          </a>
        </li>
        {%- for entry in navPages | reverse %}
          {% if entry.url != "/contact/" %}
            <li class="site-header__item">
              <a
                class="site-header__link"
                href="{{ entry.url | url }}"
                {% if entry.url == page.url or (entry.url == "/blog/" and section == "post") or (entry.url == "/projects/" and section == "project") %} aria-current="page" data-current="current item"{% endif %}
              >
                {{ entry.title }}
              </a>
            </li>
          {% endif %}
        {%- endfor %}
      </ul>
    </nav>
    <div class="site-header__actions">
      {% if global.enable_theme_switch %}
        <button class="site-header__link site-header__link--theme-switch" data-theme-switch aria-label="Toggle theme">
          {{ global.switch_theme_icon | svg | safe }}
        </button>
      {% endif %}

      {%- for entry in navPages %}
        {% if entry.url == "/contact/" %}
          <a
            class="site-header__link site-header__link--cta"
            href="{{ entry.url | url }}"
            {% if entry.url == page.url %} aria-current="page" data-current="current item"{% endif %}
          >
            get in touch
          </a>
        {% endif %}
      {%- endfor %}
    </div>
  </div>
</header>
